.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
.profile-picture {
        height: 150px;
        width: 150px;
        position: relative;
        margin: 0 0 0 0;
        float: right;
        border-radius: 50%;                
}

.logo-picture {
        height: 250px;
        width: 250px;
}
